/* Oscurecemos el fondo del calendario emergente */
ion-datetime {
  --background: #2a2a2a;
  --title-color: #ff7f00; 
  color: white;
}

/* Pintamos el botoncito que se ve en el formulario */
ion-datetime-button::part(native) {
  background: #3a3a3a;
  color: white;
  border-radius: 8px;
  padding: 10px;
}