<ion-content [fullscreen]="true">
  <div class="login-container">

    <div class="animated-logo-box">
      <div class="titulo-principal">MUEBLEXI</div>
    </div>

    <div class="form-container">
      
      <ion-item lines="none" class="custom-input">
        <ion-icon name="person-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input type="text" placeholder="Usuario" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input">
        <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-button expand="block" class="login-button" (click)="login()">
        Ingresar
      </ion-button>

      <div class="footer-links">
        <a (click)="goToRegister()">¿No tienes cuenta? Regístrate</a>
      </div>
    </div>

  </div>
</ion-content>