/* 1. Fondo Dark Mode (En lugar de madera) */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1e1e1e; /* El negro profundo de tu catálogo */
  padding: 20px;
}

/* 2. El Cuadro Animado (Ahora Naranja Mueblexi) */
.animated-logo-box {
  background: #ff7f00; /* Naranja vibrante */
  border-radius: 25px;
  margin-bottom: 40px;
  box-shadow: 0 10px 30px rgba(255, 127, 0, 0.3); /* Sombra naranja sutil */
  animation: flotar 3s ease-in-out infinite;
  
  width: 300px;
  height: 120px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 3. La Palabra MUEBLEXI (Blanca sobre el naranja) */
.titulo-principal {
  color: #ffffff;
  font-weight: 800;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 !important;
  padding: 0 !important;
}

/* Tu animación original intacta */
@keyframes flotar {
  0% { transform: translateY(0px); }
  50% { 
    transform: translateY(-15px);
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.5);
  }
  100% { transform: translateY(0px); }
}

/* 4. Barras de Input (Gris oscuro para resaltar del fondo) */
.custom-input {
  background: #2a2a2a !important;   /* Gris oscuro "Card" */
  --background: #2a2a2a !important; 
  border-radius: 15px;
  margin-bottom: 20px;
  --padding-start: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
  --inner-padding-end: 0;
  --border-style: none;
}

/* Texto que escribe el usuario (Blanco) */
ion-input {
  --color: #ffffff !important; 
  color: #ffffff !important;
  font-weight: 500;
  font-size: 1rem;
}

/* Iconos de las barras (Naranjas) */
.input-icon {
  color: #ff7f00; 
  font-size: 22px;
  margin-right: 12px;
  opacity: 1; /* Le subimos la opacidad para que resalte el naranja */
}

/* 5. El Botón "Ingresar" (Morado Eléctrico) */
.login-button {
  --background: #6a0dad !important; /* Morado */
  --color: white;
  --border-radius: 15px;
  font-weight: bold;
  height: 55px;
  margin-top: 10px;
  font-size: 1.1rem;
  box-shadow: 0 8px 15px rgba(106, 13, 173, 0.3);
}

/* 6. Link de registro (Naranja para que resalte) */
.footer-links {
  text-align: center;
  margin-top: 25px;
}

.footer-links a {
  color: #ff7f00; 
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}