<ion-content [fullscreen]="true">
  <div class="login-container">

    <div class="floating-box box-title">
      <div class="titulo-principal">Crear Cuenta</div>
    </div>

    <div class="floating-box box-subtitle">
      <div class="sub-titulo">Únete a Mueblexi</div>
    </div>

    <div class="form-container">
      <ion-item lines="none" class="custom-input">
        <ion-icon name="person-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input type="text" placeholder="Nombre completo" [(ngModel)]="userData.nombre"></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input">
        <ion-icon name="mail-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input type="text" placeholder="Usuario" [(ngModel)]="userData.username"></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input">
        <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input type="password" placeholder="Contraseña" [(ngModel)]="userData.password"></ion-input>
      </ion-item>

      <div class="floating-box box-roles">
        <ion-segment [(ngModel)]="userData.rol" class="role-segment">
          
          <ion-segment-button value="cliente">
            <ion-icon name="people-outline"></ion-icon>
            <ion-label>Cliente</ion-label>
          </ion-segment-button>

          <ion-segment-button value="vendedor">
            <ion-icon name="cash-outline"></ion-icon>
            <ion-label>Vendedor</ion-label>
          </ion-segment-button>

        </ion-segment>
      </div>

      <ion-button expand="block" class="login-button" (click)="register()">
        Registrarse
      </ion-button>

      <div class="footer-links">
        <a (click)="goToLogin()">¿Ya tienes cuenta? Inicia sesión</a>
      </div>
    </div>

  </div>
</ion-content>